﻿<script src="~/Scripts/bootstrap.min.js"></script>
@{
    ViewBag.Title = "DangKyThanhCong";
}

<h2>Bạn đã đăng ký thành công .Bấm vào đây để <a class="label label-default" href="@Url.Action("Login","Customer")">Đăng nhập</a></h2>

