﻿
@{
    Layout = null;
}

@using QuanLyBanSach.Models
@{
    ViewBag.Title = "Login";
}
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="~/images/69.png">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/base.css" rel="stylesheet" />
    <title>Login</title>
    <style>
        body {
            background-color: #044789;
        }
    </style>
</head>

<body>

    @using (Html.BeginForm("Login", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Đăng nhập</div>
                    </div>
                    <div style="padding-top:30px" class="panel-body">
                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">
                            @if (ViewBag.ThongBao != null)
                            {
                                <p style="color:red">@ViewBag.ThongBao</p>
                            }
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @if (Session["email"] != null)
                            {
                                <input id="login-username" type="text" class="form-control" name="email" value="@Session["email"]" placeholder="me@gmail.com">

                            }
                            else
                            {
                                <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="me@gmail.com">

                            }

                        </div>
                        <p style="color:red">@ViewData["Loi1"]</p>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @if (Session["password"] != null)
                            {
                                <input id="login-password" type="password" value="@Session["password"]" class="form-control" name="password" placeholder="password">

                            }
                            else
                            {
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                            }

                        </div>
                        <p style="color:red">
                            @ViewData["Loi2"]
                        </p>


                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="rememberMe" value="true"> Remember me?
                                </label>
                            </div>
                        </div>

                        <div style="margin-top:10px;" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <input type="submit" value="Đăng nhập" class="btn btn-success" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 control">
                                <br />
                                <div style="border-top: 1px solid #888; padding-top:10px; font-size:90%">
                                    Không có tài khoản?
                                    <a href="@Url.Action("Register","Customer")">
                                        Đăng ký
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    }

</body>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}