﻿@model IEnumerable<QuanLyBanSach.Models.KHACHHANG>
@using QuanLyBanSach.Models

@{

    ViewBag.Title = "Quản lý khách hàng";
}



@if (Session["TaiKhoan"] == null)
{
    <div class="row">
        <div class="center_column col-xs-12 col-sm-12">
            <div class="alert alert-danger" style="display:block">
                <div>
                    <span class="glyphicon glyphicon-warning-sign"></span>  Bạn không có quyền vô trang này
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2>Quản lý khách hàng</h2>
    <table class="table">
        <tr>
            <th>
                Tên khách hàng
            </th>
            <th>
                Email
            </th>
            <th>
                Điện Thoại
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TENKH</td>

                <td>@item.EMAIL</td>
                <td>@item.DIENTHOAI</td>
                <td>
                    @*@Html.ActionLink("Sửa", "ChinhSua", new { id = item.MAKH })*@
                    @*@Html.ActionLink("Chi tiết", "ThongTinKhachHang", new { id = item.MAKH })*@
                    <a class="btn btn-primary" href="@Url.Action("ChinhSua","Customer",new { id = item.MAKH })">Sửa</a>
                    <a class="btn btn-primary" href="@Url.Action("ThongTinKhachHang","Customer",new { id = item.MAKH })">Chi tiết</a>
                    @*@Html.ActionLink("Xóa", "Delete", new { id=item.MAKH })*@
                </td>
            </tr>
        }

    </table>
}
