﻿@model QuanLyBanSach.Models.KHACHHANG

@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/FooterCss.css" rel="stylesheet" />
    <!-- Website CSS style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    
</head>

<br />
<div class="alert alert-info">
    <h2>Đăng ký tài khoản</h2>
</div>
<p style="color:red">@ViewBag.Email</p>
<p style="color:red">@ViewBag.PasswordRong</p>
<p style="color:red">@ViewData["ConfirmedPassword"]</p>
    @using (Html.BeginForm("Register", "Customer", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row mains">
                <div class="main-login main-center">
                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Họ tên</label>
                        <div class="cols-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.TENKH, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TENKH, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                 

                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Email</label>
                        <div class="cols-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control", placeholder = "me@gmail.com" } })
                                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Số điện thoại</label>
                        <div class="cols-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                @Html.EditorFor(model => model.DIENTHOAI, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DIENTHOAI, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                                @Html.EditorFor(model => model.MATKHAU, new { htmlAttributes = new { @class = "form-control", placeholder = "password",@type="password" } })
                                @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="cols-sm-2 control-label">Confirmed Password</label>
                        <div class="cols-md-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                                <input type="password" class="form-control" name="confirmedPassword" placeholder="nhập lại password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="submit" value="Đăng kí" class="btn btn-primary btn-lg login-button" />
                    </div>

                </div>
            </div>
        </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
