﻿@model QuanLyBanSach.Models.KHACHHANG

@{
    ViewBag.Title = "Thông tin khách hàng";
}

<head>

</head>
<br />
<body>


    <div class="row">
        <div class="center_column col-xs-12 col-sm-12">
            <div class="alert alert-info" style="display:block">
                <div>
                    <h4><span class="glyphicon glyphicon-user"></span> Thông tin khách hàng</h4>
                </div>
            </div>
        </div>
    </div>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TENKH)
            </dd>

            <dt>
                Email
            </dt>

            <dd style="pointer-events:none">
                @Html.TextBoxFor(model => model.EMAIL, null, new { @type = "email", @readonly = "readonly", @style = "border:none" })
            </dd>

            <dt>
                Số điện thoại
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIENTHOAI)
            </dd>

        </dl>

    </div>
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-default" href="@Url.Action("ChinhSua","Customer",new { id = Model.MAKH })">Chỉnh sửa thông tin</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" href="@Url.Action("TrangDonHang","DonHang",new { id = Model.MAKH })">Đơn hàng của bạn</a>
        </div>
    </div>
</body>