﻿@model QuanLyBanSach.Models.SANPHAM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONGTON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONGTON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANG_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG_HANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIABAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIABAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANHSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANHSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAISACH.TENLOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISACH.TENLOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHACUNGCAP.TENNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TENNCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MASP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
