﻿@model IEnumerable<QuanLyBanSach.Models.SANPHAM>

@{
    ViewBag.Title = "Quản lý sản phẩm";
}


<br />
<br />


@if (Session["TaiKhoan"] == null)
{
    <div class="row">
        <div class="center_column col-xs-12 col-sm-12">
            <div class="alert alert-danger" style="display:block">
                <div>
                    <span class="glyphicon glyphicon-warning-sign"></span>  Bạn không có quyền vô trang này
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2>Quản lý sản phẩm</h2>

    <p>
        <a class="btn btn-default" href="@Url.Action("ThemSanPham","SanPham")">Thêm</a>
        @*@Html.ActionLink("Thêm", "ThemSanPham")*@
    </p>
    <table class="table">
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Mô tả
            </th>
            <th>
               Số lượng
            </th>
            <th>
                Tình trạng
            </th>
            <th>
               Giá
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Loại sách
            </th>
            <th>
                Nhà cung cấp
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TENSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MOTA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOLUONGTON)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrangHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GIABAN)
                </td>
                <td>
                    @if (item.ANHSP == null)
                    {
                        <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 200px;"> </a>
                    }
                    else if (!File.Exists(Server.MapPath("/images/" + item.ANHSP)))
                    {
                        <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 200px;"> </a>

                    }
                    else if (!item.ANHSP.IsEmpty())
                    {
                        <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/@item.ANHSP" style="width: 150px; height: 200px;"> </a>
                    }
                    else 
                    {
                        <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 200px;"> </a>
             
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOAISACH.TENLOAI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NHACUNGCAP.TENNCC)
                </td>
                <td>
                    @*@Html.ActionLink("Sửa", "SuaSanPham", new { id = item.MASP }) |
                    @Html.ActionLink("Chi tiết", "ChiTietSanPham", "Home", new { id = item.MASP }) |
                    @Html.ActionLink("Xóa", "XoaSanPham", new { id = item.MASP })*@
                    <a class="btn btn-primary" href="@Url.Action("SuaSanPham","SanPham",new { id = item.MASP })">Sửa</a>
                    @*<a class="btn btn-primary" href="@Url.Action("ChiTietSanPham","Home",new { id = item.MASP })">Chi tiết</a>*@
                    <a class="btn btn-primary" href="@Url.Action("XoaSanPham","SanPham",new { id = item.MASP })">Xóa</a>
                </td>
            </tr>
        }

    </table>
}

