﻿@model QuanLyBanSach.Models.SANPHAM

@{
    ViewBag.Title = "Xóa Sản phẩm";
}

<h3>Bạn có chắc chắn là muốn xóa sản phẩm này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
           Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONGTON)
        </dd>

        <dt>
            Tình trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangHang)
        </dd>

        <dt>
            Giá bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIABAN)
        </dd>

        <dt>
            Hình sản phẩm
        </dt>

        <dd>
            @if (Model.ANHSP == null)
            {
                <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 180px;"> </a>
            }
            else if (!File.Exists(Server.MapPath("/images/" + Model.ANHSP)))
            {
                <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 180px;"> </a>

            }
            else if (!Model.ANHSP.IsEmpty())
            {
                <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/@Model.ANHSP" style="width: 150px; height: 180px;"> </a>
            }
            else
            {
                <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 180px;"> </a>

            }
        </dd>

        <dt>
            Loại sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISACH.TENLOAI)
        </dd>

        <dt>
            Nhà cung cấp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHACUNGCAP.TENNCC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> 
        <a class="btn btn-default" href="@Url.Action("QuanLySanPham","SanPham",new { id = Model.MASP })">Hủy</a>
    </div>
    }
</div>
