﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/69.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/FooterCss.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site")
    @Scripts.Render("~/bundles/modernizr")
    <title>Gray Bookstore 69</title>
    <link href="~/Content/ModalCss.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:#044789">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <img style="float:left;width:30px;margin-right:10px;margin-top:15px;" src="~/images/69.png" />
                    <a style="margin-top:5px;font-family:'Lucida Handwriting'" class="tua-de" href="@Url.Action("TrangChu","Home")">Gray Bookstore 69</a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-header" style="padding-top: 13px;padding-left: 15px;">
                    @Html.Action("GioHangPartial", "GioHang")
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <div class="fpart-first">
                <div class="container">
                    <div class="row">
                        <div style="color:white !important;display:block" class="col-md-5">
                            <div style="border-bottom: 1px dotted #c8c8c8;" class="col-md-pull-12">
                                <a class="thumbnail pull-left" href="@Url.Action("VềChúngTôi","Product")"><img style="width:90px;height:73px;" src="~/images/69.png" /></a>
                                <h3>Gray Bookstore 69</h3>
                                <p>
                                    Gray Bookstore 69 là shop về shop bán sách online. Gray Buster 69 được thành lập nhằm mục đích cung cấp sách cho những bạn đọc đam mê sách.
                                </p>
                                <div style="display:block" class="content-follow">
                                    <p>Follow us</p>
                                    <ul>
                                        <li>
                                            <a href="#"><img src="~/images/facebook.png" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/images/twitter.png" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/images/youtube.png" /></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="~/images/google.png" /></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="color:white !important;border-left:1px dotted #c8c8c8;display:block" class="col-md-2 contact-us">
                            <h5 style="display:block">Giới thiệu</h5>
                            <ul>
                                <li><a href="@Url.Action("GioiThieu","Home")">Về chúng tôi</a></li>
                            </ul>
                        </div>
                        <div style="color:white !important;border-left:1px dotted #c8c8c8" class="col-md-5 address">
                            <h5>Địa chỉ</h5>
                            <ul>
                                <li><span>Sư Vạn Hạnh Phường 13 Quận 10</span></li>
                                <li><span>Ngày thành lập: 10/11/2017</span></li>
                                <li><span>Sđt: +08 38629233</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright" style="color:white" align="center">
                    &copy; Khanh Pham. All rights reserved.
                </div>
            </div>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>