﻿@using QuanLyBanSach.Models
@if (Session["TaiKhoan"] != null)
{
    var kh = Session["TaiKhoan"] as KHACHHANG;
    <div class="nav navbar-nav navbar-right">
        <div style="padding-top:10px;padding-right:14px">
            <a style="color:white;font-size:15px;margin-top:7px; margin-right: 24px;" class="gioHang" href="@Url.Action("ThongTinKhachHang","Customer",new { id = kh.MAKH })">Xin chào @kh.TENKH !</a>
            <a style="color:white;font-size:15px;margin-top:7px" class="gioHang" href="@Url.Action("Logout","Customer",null)"><span class="glyphicon glyphicon-log-out "></span>  Đăng xuất</a>
        </div>    
    </div>
}
else
{
    <div  class="nav navbar-header navbar-right">
        <div style="margin-top:7px;padding-top:10px">
            <a style="color:white; margin-right: 20px;" class="gioHang" href="@Url.Action("Login","Customer",null)"><span class="glyphicon glyphicon-log-in"></span>  Đăng nhập</a>

            
            <a style="color:white" class="gioHang" href="@Url.Action("Register","Customer",null)"><span class="glyphicon glyphicon-user"></span>   Đăng ký</a>
        </div>
    </div>
}
