﻿.product-detail {
        margin: 7px 0 10px 0;
}
.product-detail .detail h1{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px 0;
    padding-bottom: 9px;
    border-bottom: solid 1px #ebebeb;
    color: #00508E;
    line-height: 34px;
}
.product-detail .detail .product-price {
    color: #d0021b;
    font-size: 26px;
    font-weight: 700;
}
.product-detail .detail .description {
    color: #000;
    font-family: tahoma;
    line-height: 28px;
}
.product-detail .detail .containerThemGio{
    width:500px;
}
.product-detail .detail .btnThemGioHang{    
    width:200px;
    height:60px;
    text-align:center;
    text-transform: uppercase;
    font-weight: 400;
    font-size:large;
    padding: 16px 0;
 
}
.product-detail .detail .btnTuVan{    
    width:200px;
    height:60px;
    text-align:center;
    text-transform: uppercase;
    font-weight: 200;
    font-size:large;
    padding: 5px 0; 
}
.product-detail .detail .btnTuVan span{
    display:block;
    text-align:center;
    font-weight: 400;
}
.bottom .bottomContainer .tabContainer ul li .headTab {
    position: relative;
    background: #df494b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 30px;
    width: 250px !important;
    color:white;
    pointer-events:none;
    text-align: center;
    font-weight: bold;
}
