﻿#footer .fpart-first {
    background-color: #044789;
    padding-top: 15px;
}
.content-follow p{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    float: left;
    margin-top: 9px;
}
.content-follow ul{
    display:block;
    list-style-type:disc;
}
.content-follow ul li{
    float: left;
    padding-left: 10px;
    display: inline;
}
.contact-us ul li a{
    color: #fff;
}
.contact-us ul li a:hover{
    color: #fff;
}
.tua-de {
    float: left;
    height: 50px;
    padding-top:15px;
    font-size: 18px;
    line-height: 20px;
    color:white;
    margin-right:8px;
}

.gioHang {
    float: left;
    /*height: 50px;
    line-height: 20px;*/
    font-size: 15px;
    color: white;
    margin-right: 8px;
}

.gioHang:hover {
    color: #fff;
}

.tua-de:hover {
    color: #fff;
}