﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

{
    box-sizing: border-box;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

/*Search bar in home*/
#searchInput {
    background-image: url('../../images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    float: right;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.bestSellerName {
    margin: 0;
    margin-bottom: 7px;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
    font-family: "Segoe UI",Arial,sans-serif;
}

h3 .newPrice {
    font-weight: 500;
}

