﻿@using QuanLyBanSach.Models
@model List<GioHang>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/FooterCss.css" rel="stylesheet" />
    <link href="~/Content/ModalCss.css" rel="stylesheet" />
    
</head>

<h2 style="text-align:center">Thông tin giỏ hàng</h2>
<h4>@ViewBag.MaSPRong</h4>
@if (Model.Count == 0)
{
    <div class="row">
        <div class="center_column col-xs-12 col-sm-12">
            <div class="alert alert-danger" style="display:block">
                <div>
                    <span class="glyphicon glyphicon-warning-sign"></span>  Giỏ hàng trống
                </div>
            </div>
        </div>
    </div>
}
else
{
    <table  align="center" border="1" style="border-collapse: collapse;">
        <tr style="text-align:center;font-weight:bold">
            <td>Tên sản phẩm</td>
            <td>Hình sản phẩm</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td width="50px" style="border:none"></td>
            <td width="50px" style="border:none"></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="text-align:center;font-weight:bold">
                <td>@item.TenSP</td>
                <td>
                    @if (item.ANHSP == null)
                    {
                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 250px; height: 250px;"> </a>
                    }
                    else if (!File.Exists(Server.MapPath("/images/" + item.ANHSP)))
                    {
                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 250px; height: 250px;"> </a>

                    }
                    else
                    {
                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/@item.ANHSP" style="width: 250px; height: 250px;"> </a>
                    }
                </td>
                @using (Html.BeginForm("CapNhatSoLuong", "GioHang", new { maSP = item.MaSP }))
                {
                    <td><input type="number" min="1" name="txtSoLuong" value="@item.SoLuong" /></td>
                    <td>@Html.DisplayFor(modelItem => item.DonGia)</td>
                    <td>@Html.DisplayFor(modelItem => item.ThanhTien)</td>
                    <td><button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span> Cập nhật
                    </button></td>
                    <td><a class="btn btn-danger" href="@Url.Action("XóaSảnPhẩm",new { maSP = item.MaSP })"><span class="glyphicon glyphicon-remove"></span> Xóa </a>@*@Html.ActionLink("Xóa", "XóaSảnPhẩm", new { maSP = item.MaSP }, htmlAttributes: new { @class = "btn btn-danger" })*@</td>
                }
            </tr>
        }
        <tr style="font-weight:bold;text-align:right;">
            <td></td>
            <td style="border-left:hidden" colspan="3">Số lượng sản phẩm: @ViewBag.TongSoLuong</td>
            <td style="text-align:center" colspan="3">Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>
        </tr>
        <tr style="font-weight:bold;text-align:right;border-bottom:hidden;border-right:hidden;border-left:hidden">
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td colspan="4">
                <a href="@Url.Action("TrangChu","Home")" class="btn btn-default">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Tiếp tục mua hàng
                </a>
                    @if (Session["TaiKhoan"] == null)
                {

                        <button type="button" id="datHang" class="btn btn-success">
                            Thanh toán <span class="glyphicon glyphicon-play"></span>
                        </button>

                    }
                    else
                    {

                        <button type="button" id="datHang" class="btn btn-success">
                            Thanh toán <span class="glyphicon glyphicon-play"></span>
                        </button>
                    }
            </td>
        </tr>
    </table>
}
<div id="myModal" class="modal">
    <div class="modal-content">
        @if (Session["TaiKhoan"] == null)
        {
            @Html.Action("ĐặtHàngKhôngĐăngNhập", "GioHang")
        }
        else
        {
            @Html.Action("ĐặtHàngĐãĐăngNhập","GioHang")
        }
        
    </div>
</div>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("datHang");
    btn.onclick = function () {
        modal.style.display = "block";
    }
</script>


