﻿@model QuanLyBanSach.Models.DONHANG
@{
    ViewBag.Title = "Xác Nhận Đơn Hàng";
}

<head>
    <style>
        #oldPrice {
            text-decoration: line-through;
            font-weight: 400;
            font-size: 16px;
        }
    </style>
</head>
<br />
<div class="alert alert-success">
    <h3>Đơn hàng của bạn đã được ghi nhận .Và sẽ được nhân viên chúng tôi giao từ @DateTime.Now.AddDays(1).ToString("dd/MM/yyyy") đến @DateTime.Now.AddDays(2).ToString("dd/MM/yyyy")</h3>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Họ tên</th>
                <th>Địa chỉ giao hàng</th>
                <th>Tình trạng đơn hàng</th>
                <th>Tình trạng giao hàng</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.MADONHANG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.KHACHHANG.TENKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DIACHIGIAOHANG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TinhTrangThanhToan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TinhTrangGiaoHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TONGTIEN)
                </td>
            </tr>
        </tbody>    
    </table>
</div>

<h3 style="align-items:center"><span class="label label-primary">Chi tiết từng món hàng </span></h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá sản phẩm</th>
                <th>Nhà cung cấp</th>
                <th>Loại sách</th>
                <th>Số lượng mua</th>
            </tr>
        </thead>
        @{
            foreach (var item in Model.CHITIETDONHANG)
            {
                var promotion = item.SANPHAM.THONGTINKHUYENMAI.SingleOrDefault(p => p.MASP == item.MASP);
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SANPHAM.TENSP)
                        </td>
                        <td>
                            @if (promotion != null)
                            {
                                <del id="oldPrice" style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.SANPHAM.GIABAN)
                                </del> 
                                @Html.DisplayFor(modelItem => promotion.THANHTIEN)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.SANPHAM.GIABAN)
                            }

</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SANPHAM.NHACUNGCAP.TENNCC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SANPHAM.LOAISACH.TENLOAI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SOLUONGMUA)
                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
</div>

<div>
    <a class="btn btn-default" href="@Url.Action("TrangChu","Home")">
        <span class="glyphicon glyphicon-chevron-left"></span> Về trang chủ
    </a>
</div>

