﻿@model QuanLyBanSach.Models.DONHANG

@{
    ViewBag.Title = "Đặt Hàng";
}
@{
    Layout = null;
}

<h3>Thông tin để giao hàng</h3>


@using (Html.BeginForm("ĐặtHàngĐãĐăngNhập", "GioHang", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DIACHIGIAOHANG, "Địa chỉ giao: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DIACHIGIAOHANG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DIACHIGIAOHANG, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon glyphicon-ok-sign"></span>  Đặt hàng
                </button>

                <a href="@Url.Action("TrangChu","Home")" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span>  Hủy</a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
