﻿@model IEnumerable<QuanLyBanSach.Models.THONGTINKHUYENMAI>
<head>
    <style>
        #oldPrice {
            text-decoration: line-through;
            font-weight: 400;
            font-size: 16px;
        }

        #newPrice {
            color: red;
            font-size: 20px;
        }
        a:hover {
            color:black
        }
    </style>
</head>
@foreach (var item in Model)
{
<div class="column">
    @if (item.SANPHAM.ANHSP == null)
    {
        <a class="bestSeller" href="@Url.Action("ChiTietSanPhamKM","Home",new { @id = item.MAKM })">
            <div>
                <img src="~/images/noimage.png" style="width:100%" class="hover-shadow cursor">
                <h3 class="media-heading" style="text-align:center">@item.SANPHAM.TENSP</h3>
                <h3 id="oldPrice" style="text-align:center">@item.SANPHAM.GIABAN</h3>
                <h3 id="newPrice" style="text-align:center">@item.THANHTIEN</h3>
            </div>
        </a>
        
        
    }
    else if (!File.Exists(Server.MapPath("/images/" + item.SANPHAM.ANHSP)))
    {
        <a  href="@Url.Action("ChiTietSanPhamKM","Home",new { @id = item.MAKM })">
            <div>
                <img src="~/images/noimage.png" style="width:100%" class="hover-shadow cursor">
                <h3 class="media-heading" style="text-align:center">@item.SANPHAM.TENSP</h3>
                <h3 id="oldPrice" style="text-align:center">@item.SANPHAM.GIABAN</h3>
                <h3 id="newPrice" style="text-align:center">@item.THANHTIEN</h3>
            </div>

        </a>
    }
    else
    {
        <a class="bestSeller" style="text-decoration:none" href="@Url.Action("ChiTietSanPhamKM","Home",new { @id = item.MAKM })">
            
            <div class="hover-shadow cursor">
                <img style="width:100%"  src="~/images/@item.SANPHAM.ANHSP">
                <h3 class="media-heading" style="text-align:center">@item.SANPHAM.TENSP</h3>
                <h3 id="oldPrice" style="text-align:center">@Html.DisplayFor(modelItem => item.SANPHAM.GIABAN)</h3>
                <h3 id="newPrice" style="text-align:center">@Html.DisplayFor(modelItem => item.THANHTIEN)</h3>
            </div>
        </a>
    }
</div>
}