﻿@model QuanLyBanSach.Models.THONGTINKHUYENMAI

@{
    ViewBag.Title = "Chi tiết khuyến mãi";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/DetailProduct.css" rel="stylesheet" />
</head>
<br />
<br />
<br />

<div class="product-detail container clearfix">
    <div class="row">
        <div class="col-xs-10">
            <aside class="pull-left">
                @if (Model.SANPHAM.ANHSP == null)
                {
                    <img class="media-object" src="~/images/noimage.png" style="width: 400px; height: 400px;">
                }
                else if (!File.Exists(Server.MapPath("/images/" + Model.SANPHAM.ANHSP)))
                {
                    <img class="media-object" src="~/images/noimage.png" style="width: 400px; height: 400px;">

                }
                else
                {
                    <img class="media-object" src="~/images/@Model.SANPHAM.ANHSP" style="width: 400px; height: 400px;">
                }
            </aside>
            <div class="col-md-offset-7 detail">
                <h1>@Model.SANPHAM.TENSP</h1>
                <p class="product-price">@Html.DisplayFor(model => model.THANHTIEN)</p>
                <hr />
                <div class="description">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading"><strong>Loại sách</strong></h4>
                            <p class="list-group-item-text">@Html.DisplayFor(model => model.SANPHAM.LOAISACH.TENLOAI)</p>
                        </div>
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading"><strong>Nhà cung cấp</strong></h4>
                            <p class="list-group-item-text">@Html.DisplayFor(model => model.SANPHAM.NHACUNGCAP.TENNCC)</p>
                        </div>
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading"><strong>Mô tả sản phẩm</strong></h4>
                            <p class="list-group-item-text">@Html.DisplayFor(model => model.SANPHAM.MOTA)</p>
                        </div>
                    </div>
                </div>
                <div class="containerThemGio">
                    <div class="col-md-5">
                        @if (Model.SANPHAM.SOLUONGTON <= 0)
                        {
                            <a onclick="thongBao()" href="@Url.Action("ThêmGiỏHàng","GioHang",new { @id = Model.MAKM,@khuyenMai = true,@strURL=Request.Url.ToString() })" class="btn btn-success disabled btnThemGioHang">Thêm vào giỏ  <i class="fa fa-angle-right"></i></a>
                        }
                        else
                        {
                            <a onclick="thongBao()" href="@Url.Action("ThêmGiỏHàng","GioHang",new { @id = Model.MAKM,@khuyenMai = true,@strURL=Request.Url.ToString() })" class="btn btn-success btnThemGioHang">Thêm vào giỏ  <i class="fa fa-angle-right"></i></a>
                        }

                    </div>
                    <div class="col-md-5">
                        <a style="pointer-events:none;" class="btn btn-warning btnTuVan">
                            <i class="glyphicon glyphicon-phone"></i>  Gọi đặt hàng
                            <span>
                                096969696969
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="bottomContainer">
        <div class="tabContainer">
            <ul class="list-unstyled">
                <li>
                    <h2 style="border-bottom:solid 3px #df494b;"><a class="headTab">Sản phẩm liên quan</a></h2>
                </li>
            </ul>
        </div>
        <div class="item">
            <div style="display:inline">
                @Html.Action("SanPhamLienQuan", new { id = Model.MASP })
            </div>
        </div>
    </div>
</div>
<script>
    function thongBao() {
        alert("Bạn đã thêm giỏ hàng thành công");
    }
</script>



