﻿
@{
    Layout = null;
}

<html>
<head>
    <title>Intro</title>
    <link rel="icon" href="~/images/69.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="@Url.Action("TrangChủ","Home")"> Gray Bookstore 69 <span>by Khanh</span></a></div>
    </header>
    <!-- One -->
    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>GRAY69.COM</p>
                <h2>Introdution</h2>
            </header>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <p>GRAY69.COM</p>
                        <h2>Introdution</h2>
                    </header>
                    <p>Ra đời năm 2019, kế thừa nền tảng kinh nghiệm từ công ty mẹ - Knduu ( công ty có hơn x năm kinh nghiệm trong lĩnh vực thiết kế ) cùng với đội ngũ nhân sự trẻ trung và đầy nhiệt huyết. Chúng tôi từng bước tạo dựng nên thương hiệu GRAY69 trong lĩnh vực thiết kế wesite đầy cạnh tranh.</p>

                    <p> GRAY69 tin rằng để tạo nên một thương hiệu, cần phải có sự khác biệt. Khi thị trường ngày càng cạnh tranh gay gắt chỉ có sự khác biệt trong sản phẩm mới giúp cho doanh nghiệp tồn tại và phát triển. Hiểu rõ điều này, GRAY69 chọn “Niềm Tin”  và chất lượng dịch vụ làm nên tảng cho sự khác biệt đó. Mỗi website được thiết kế, GRAY69 không chỉ chú trọng đến chất lượng mà còn quan tâm đến hậu mãi, hỗ trợ sau khi vận hành web.</p>

                    <p>Ngoài ra, giải pháp thiết kế web chuyên nghiệp đã có từ công ty mẹ. GRAY69 còn mở rộng và cung cấp thêm gói web Startup ( gói thiết kế web giá rẻ ) dành cho các cá nhân, công ty đang trong giai đoạn khởi nghiệp và đây được xem gói web được chọn nhiều nhất trong những năm qua. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.scrollex.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>