﻿@model IEnumerable<QuanLyBanSach.Models.SANPHAM>
<head>
    <style>
     .info .name
    {
    margin: 0;
    margin-bottom: 7px;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    FONT-WEIGHT: BOLDER;
    padding-top:5px;
}
    .info .price
    {
    color: #d0021b;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    }
    .actionBtn .button{
        color: #fff;
        outline: none;
        text-decoration: none;
        border: 0;
        display: inline-block;
        padding: 7px;
        text-transform: uppercase;
        line-height: 12px;
        font-size: 15px;
    }
    .actionBtn .btnOrange {
        background: -webkit-linear-gradient(top,#f89406,#f76b1c) !important;
        border: solid 1px #ccc !important;
        border-radius: 30px !important;
        padding: 8px 2px;
        font-size: 10px;
        text-align: center;
        width: 48%;
        color: white !important;
    }
    .actionBtn .btnBlue {
        background: #00508E !Important;
        border: solid 1px #ccc !important;
        border-radius: 30px !important;
        padding: 8px 2px;
        font-size: 10px;
        text-align: center;
        width: 48%;
        color: white !important;
    }
    </style>
</head>
<div style="display:inline" class="container">
    <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-2 col-md-2">
                    <div style="border: solid 1px #ebebeb">
                        @if (item.ANHSP == null)
                        {
                            <a style="pointer-events:none;text-align:center;"> <img class="img-responsive" src="~/images/noimage.png" style="width:200px;height:200px"> </a>
                        }
                        else if (!File.Exists(Server.MapPath("/images/" + item.ANHSP)))
                        {
                            <a style="pointer-events:none;text-align:center;"> <img class="img-responsive" src="~/images/noimage.png" style="width:200px;height:200px"> </a>

                        }
                        else
                        {
                            <a style="pointer-events:none;text-align:center"> <img class="img-responsive" src="~/images/@item.ANHSP" style="width:200px;height:200px"> </a>
                        }
                        <div class="col-lg-12 col-md-12 info">
                            <h3 class="name">@Html.DisplayFor(modelItem => item.TENSP)</h3>
                            <p class="price">@Html.DisplayFor(modelItem => item.GIABAN)</p>
                        </div>
                        <div class="col-lg-12 col-md-12 actionBtn">
                            <a class="button btnOrange" href="@Url.Action("ChiTiếtSảnPhẩm", new { id = item.MASP })"> Xem nhanh</a>
                            <a class="button btnBlue" onclick="thongBao()" href="@Url.Action("ThêmGiỏHàng","GioHang",new { @maSP = @item.MASP,@strURL=Request.Url.ToString() })"> Thêm vô giỏ</a>
                        </div>
                    </div>
                </div>
                
            }
    </div>
</div>
<script>
        function thongBao() {
            alert("Bạn đã thêm giỏ hàng thành công");
        }
</script>