﻿@model IEnumerable<QuanLyBanSach.Models.SANPHAM>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<script>
   function search() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>
@{
    ViewBag.Title = "Gay Buster 699 Shop";
}
<script>
    function thongBao() {
        alert("Bạn đã thêm giỏ hàng thành công");
    }
</script>
@if (TempData["Temp1"] != null)
{
    <script>TempData["Temp1"]</script>
}
<br />
<div class="alert alert-danger">
    <h2 class="w3-center">Best Seller</h2>
</div>

<div class="row">
    @Html.Action("BestSeller", "Home")
</div>

<hr>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <input type="text" id="searchInput" placeholder="Tìm kiếm">
            <hr>
            <table style="cursor:pointer" class="table table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th class="text-center">Giá</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                <tbody>
                    @if (!item.THONGTINKHUYENMAI.Any(t => t.MASP == item.MASP))
                    {
                        <tr onclick="location.href = '@Url.Action("ChiTietSanPham", "Home", new { id = item.MASP })'">
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    @if (item.ANHSP == null)
                                    {
                                        <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 200px;"> </a>
                                    }
                                    else if (!File.Exists(Server.MapPath("/images/" + item.ANHSP)))
                                    {
                                        <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 200px;"> </a>

                                    }
                                    else if (!item.ANHSP.IsEmpty())
                                    {
                                        <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/@item.ANHSP" style="width: 150px; height: 200px;"> </a>
                                    }
                                    else
                                    {
                                        <a style="pointer-events:none" class="thumbnail pull-left" href="#"> <img class="media-object" src="~/images/noimage.png" style="width: 150px; height: 200px;"> </a>

                                    }

                                    <div class="media-body">
                                        <h4 class="media-heading"><strong>@Html.DisplayFor(modelItem => item.TENSP)</strong></h4>
                                        <h5 class="media-heading"> Nhà sản xuất: @Html.DisplayFor(modelItem => item.NHACUNGCAP.TENNCC) </h5>
                                        @if (item.SOLUONGTON <= 0)
                                        {
                                            <span>Status: </span><span class="text-success"><strong>Hết hàng</strong></span>
                                        }
                                        else
                                        {
                                            <span>Status: </span><span class="text-success"><strong>Còn hàng</strong></span>
                                        }

                                    </div>
                                </div>
                            </td>

                            <td class="col-sm-2 col-md-2 text-center"><strong>@Html.DisplayFor(modelItem => item.GIABAN)</strong></td>
                            @if (item.SOLUONGTON <= 0)
                            {
                                <td><a href="#" class="btn btn-success disabled w3-center">Thêm vào giỏ  <i class="fa fa-angle-right"></i></a></td>
                            }
                            else
                            {
                                <td class="col-md-2 col-md-offset-5"><a onclick="thongBao()" href="@Url.Action("ThêmGiỏHàng","GioHang",new { @id = item.MASP,@strURL=Request.Url.ToString() })" class="btn btn-success">Thêm vào giỏ  <i class="fa fa-angle-right"></i></a></td>
                            }
                        </tr>
                    }

                </tbody>
                }
            </table>
        </div>
    </div>
</div>