﻿@model QuanLyBanSach.Models.DONHANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DONHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DIACHIGIAOHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHIGIAOHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYDATHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDATHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYGIAOHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYGIAOHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATHANHTOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONGTIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGTIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TENKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MADONHANG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
