﻿@model IEnumerable<QuanLyBanSach.Models.DONHANG>

@{
    ViewBag.Title = "Đơn hàng";
}
<br />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>



<div class="row">
    <div class="center_column col-xs-12 col-sm-12">
        <div class="alert alert-info" style="display:block">
            <div>
                <h2>

                    <span class="glyphicon glyphicon-menu-hamburger" style="margin-right:5px">


                    </span>
                    Đơn hàng của bạn
                </h2>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            Địa chỉ
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Ngày giao
        </th>
        <th>
            Tình trạng hàng
        </th>
        <th>
            Tình trạng thanh toán
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Tên người nhận
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DIACHIGIAOHANG)
            </td>
            <td>

                    @if (item.NGAYDATHANG != null)
                    {
                        @item.NGAYDATHANG.Value.ToString("dd/MM/yyyy")
                        //@Html.DisplayFor(modelItem => )
                    }


            </td>
            <td>

                    @if (item.NGAYDATHANG != null)
                    {
                        @item.NGAYGIAOHANG.Value.ToString("dd/MM/yyyy")
                        //@Html.DisplayFor(modelItem => )
                    }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGTIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACHHANG.TENKH)
            </td>
            <td>
                <a class="btn btn-primary" onclick="toggle()">
                    <span class="glyphicon glyphicon-menu-down"></span>   Chi tiết
                </a>
                @*@Html.ActionLink("Chi tiết", "Details", new { id = item.MADONHANG, @class = "btn btn-primary" })*@


            </td>
            
        </tr>
        <tr id="chiTiet" style="display:none">
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Thành tiền
            </th>
            
        </tr>
        <tr id="chiTietData" style="display:none">
            @foreach (var i in item.CHITIETDONHANG)
            {
                <td>
                    @i.SANPHAM.TENSP
                </td>
                <td>
                    @i.SOLUONGMUA
                </td>
                <td>
                    @i.THANHTIEN
                </td>
            }
        </tr>
    }

</table>
<script>
  function toggle() {
      var x = document.getElementById("chiTiet");
      var y = document.getElementById("chiTietData");
      if (x.style.display === "none" && y.style.display === "none") {
          x.style.display = "block";
          y.style.display = "block";
      } else {
          x.style.display = "none";
          y.style.display = "none";
      }
}

</script>